.layer-error {
  position: absolute;
  inset: 0;
  background-color: #0078d7c0;
  color: white;
  z-index: 10000;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  > div {
    padding-inline: 20dvw;
  }

  .sad {
    font-size: 8rem;
  }
}
