.iconTextGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "iconLabel .  textLabel"
    "icon      or text";
  column-gap: 0.5rem;
  justify-content: start;
  align-items: center;
}

.iconLabel {
  grid-area: iconLabel;
}

.or {
  grid-area: or;
}

.textLabel {
  grid-area: textLabel;
}

.icon {
  grid-area: icon;
}

.text {
  grid-area: text;
  width: 4rem;
}
