.bold {
  font-weight: 500;
}

.highlightable-marker{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
 
  &:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
}


