.elevationChart {
  position: absolute;
  z-index: 10001;
  background-color: rgba(255, 255, 255, 0.88);
  bottom: 53px;
  left: 0px;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  margin: 10px;

  @media (max-width: calc(var(--breakpoint-md) - 1px)) {
    width: calc(100% - 20px);
  }

  & > button {
    position: absolute;
    right: 0px;
    margin-right: 10px;
  }

  & > p {
    margin-left: 4px;
  }
}
