.gallery-image {
  max-width: 100%;
  max-height: calc(100vh - 300px);
  margin: 0 auto;
  display: block;

  @media screen and (max-height: 600px) {
    max-height: 300px;
  }
}

.carousel-control.disabled, .carousel-control.disabled:hover {
  cursor: not-allowed;
  opacity: 0.2;
}

.stars {
  display: inline-block;
  top: 6px;

  span {
    line-height: 24px;
  }
}