@import "variables";

#app {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.modal {
  display: block;
}

.dropdown-menu {
  z-index: 10000;
}

.hidden {
  display: none !important;
}

.tab-content {
  border-radius: 4px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

.leaflet-container {
  .leaflet-tooltip.compact {
    padding: 0 3px;
  }

  .fa-icon-inside-leaflet-icon-holder {
    position: absolute;
    width: 100%;left: 50%;
    margin-left: -50%;
    top: 6px;
    text-align: center;
    font-size: 83%;
  }

  .circular-leaflet-marker-icon {
    height: 14px;
    width: 14px;
    background-color: #007bff;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.75);
  }
}

// preventing some defaults on L.divIcon
.leaflet-div-icon {
  background-color: transparent !important;
  border: 0 !important;
}

@media (min-width: 768px) {
  .dropdown-long .dropdown-menu {
    overflow-x: auto;
    height: calc(100vh - 64px);
  }
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: lighten($theme-primary-color, 25%);
}

// to show dropdown in Objects menu
.navbar-collapse.collapse.in {
  overflow: visible !important;
}
