@import "variables";

body {
    margin: 0;
    height: calc(100% - 56px);
}

html, .map-holder, #app, #app > div, .container-fluid {
    height: 100%;
}

.leaflet-div-icon {
  background: none;
  border: 0;
}

.modal {
  display: block;
}

.dropdown-menu {
  z-index: 10000;
}

.hidden {
  display: none !important;
}

.tab-content {
  border-radius: 4px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

.leaflet-container {
  height: 100%;

  .leaflet-tooltip.compact {
    padding: 0 3px;
  }

  .fa-icon-inside-leaflet-icon-holder {
    position: absolute; 
    width: 100%;left: 50%;
    margin-left: -50%;
    top: 6px;
    text-align: center;
    font-size: 83%;
  }
}

.tool-route-planner .leaflet-container,
.tool-measure .leaflet-container,
.tool-measure-ele .leaflet-container,
.tool-measure-area .leaflet-container,
.tool-select-home-location .leaflet-container {
  cursor: crosshair;
}

@media (min-width: 768px) {
  .dropdown-long .dropdown-menu {
    overflow-x: auto;
    height: calc(100vh - 64px);
  }
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: lighten($theme-primary-color, 25%);
}