.leaflet-div-icon {
  background: none;
  border: 0;
}

.modal {
  display: block;
}

.dropdown-menu {
  z-index: 10000;
}

.hidden {
  display: none !important;
}

.tab-content {
  border-radius: 4px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

.leaflet-container {
  height: calc(100vh - 56px);
}

.tool-route-planner .leaflet-container,
.tool-measure .leaflet-container,
.tool-measure-ele .leaflet-container,
.tool-measure-area .leaflet-container,
.tool-select-home-location .leaflet-container {
  cursor: crosshair;
}

.non-interactive-element {
  cursor: grap;
}