@import "variables";

#toast-container > div.toast-info {
  background-color: $theme-primary-color;
  opacity: 1.0;
}

.toast-message a {
  &, &:hover {
    text-decoration: underline;
  }
}

a.leaflet-control-layers-toggle {
  background-size: 36px 36px;
}

.active-map-type-T a.leaflet-control-layers-toggle {
  background-image: url(../images/icon-walk.png);
}

.active-map-type-A a.leaflet-control-layers-toggle {
  background-image: url(../images/icon-car.png);
}

.active-map-type-C a.leaflet-control-layers-toggle {
  background-image: url(../images/icon-bicycle.png);
}

.active-map-type-K a.leaflet-control-layers-toggle {
  background-image: url(../images/icon-skiing.png);
}

.active-map-type-S a.leaflet-control-layers-toggle {
  background-image: url(../images/icon-satellite.png);
}

@media ($smartphone-screen) { // issue #71
  .navbar-form {
    border-top: 0;
    margin-top: 0;
  }
}
