@import "variables";

#app {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.hidden {
  display: none !important;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: lighten($theme-primary-color, 25%);
}

.header {
  position: absolute;
  z-index: 1010;
  top: 0px;
  left: 0px;
  right: 0px;
  pointer-events: none;

  & > * {
    pointer-events: all;
  }
}

.info-bar {
  @media screen {
    background-color: #ffa;
    text-align: center;

    & > button {
      float: right;
      margin: 0 4px;
    }
  }
  @media print {
    display: none;
  }
}

.menus {
  pointer-events: none;
  margin: 8px 4px;
  & > * {
    pointer-events: all;
  }
}

.tool-panel {
  position: absolute;
  z-index: 1010;
  top: 10px;
  left: 68px;
  margin-right: 10px;
}

#freemap-logo-print {
  @media print {
    top: 4px;
    left: 4px;
    z-index: 2000;
    position: absolute;
    display: block !important;
  }

  @media screen {
    display: none;
  }
}

button#freemap-logo {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../images/freemap-logo.png);
  background-size: 122px 34px;
  background-repeat: no-repeat;
  margin: 0 4px;
  height: 34px;
  width: 122px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;

  @media ($smartphone-screen) {
    .full {
      background-image: url(../images/freemap-logo-small.png);
      background-size: 42px 34px;
      width: 42px;
    }
  }

  &.in-progress {
    animation: pulse 1s infinite;
  }

  &:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(200%);
  }
  100% {
    filter: brightness(100%);
  }
}

.dropdown-menu>li>a {
  padding: 5px 20px;
}

.fm-menu {
  .popover-content {
    padding: 0;

    &>ul {
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #fff;

      &>li>a {
        display: block;
        padding: 5px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;

        &:hover {
          text-decoration: none;
          color: #262626;
          background-color: #f5f5f5;
        }
      }

      &>li.active>a {
        color: #fff;
        text-decoration: none;
        outline: 0;
        background-color: #337ab7;
      }

      .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
      }
    }

  }
}

.fm-toolbar {
  @media screen {
    margin: 0 3px 8px;
    background-color: rgba(255, 255, 255, 0.80);
    display: inline-block;
    vertical-align: top;

    padding: 4px;

    form {
      display: inline;
    }
  }

  @media print {
    display: none !important;
  }
}

.fm-label {
  margin: 4px;
}

#tools-button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fm-type-zoom-control {
  pointer-events: none;
  position: absolute;
  z-index: 1010;
  bottom: 10px;
  left: 0;
  right: 0;
  &>div {
    pointer-events: all;
    display: table;
    margin: 0 auto;
  }
}

.legend-item {
  display: inline-block;
  min-width: 20px;
  margin-bottom: 2px;
}

.fm-attribution {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  background-color: white !important; // also for print
  padding: 0 6px;
  border-top-left-radius: 4px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 12px;
}
