.leaflet-div-icon {
  background: none;
  border: 0;
}

.modal {
  display: block;
}

.dropdown-menu {
  z-index: 10000;
}

.hidden {
  display: none !important;
}

.tab-content {
  border-radius: 4px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}

.bootstrap-typeahead {
  padding-right: 15px !important;
}

.bootstrap-typeahead button.close.bootstrap-typeahead-clear-button {
  position: absolute;
  top: 5px;
  right: -4px;
}

.bootstrap-typeahead .bootstrap-typeahead-menu {
  opacity: 0.9;
}