#search {
  .bootstrap-typeahead {
    padding-right: 15px !important;
  }

  .bootstrap-typeahead button.close.bootstrap-typeahead-clear-button {
    position: absolute;
    top: 5px;
    right: -4px;
  }

  .bootstrap-typeahead .bootstrap-typeahead-menu {
    opacity: 0.9;
  }
}