.rbt {
  display: inline-flex !important;
  vertical-align: middle;
}

.rbt-input-main {
  width: 200px;
  font-family: FontAwesome, Arial;
}

.fm-search-dropdown {
  opacity: 0.8;
  height: 300px;
  max-height: calc(100vh - 110px);
  overflow: scroll;
  @media (min-width: 768px) {
    max-width: calc(100vw - 160px);
  }
  @media (max-width: 767px) {
    max-width: calc(100vw - 80px);
  }
}
