.fm-toasts {
  position: fixed;
  right: 0px;
  bottom: 52px;
  max-height: calc(100dvh - 52px);
  z-index: 1070;

  overflow: auto;
  font-size: 0.875rem;
  background-clip: padding-box;
}

.fm-toast {
  margin: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  max-width: calc(max(380px, 25dvw));

  > .btn-close {
    position: relative;
    top: -0.5rem;
    left: 0.5rem;
  }
}
