.dropzone {
  margin: 10px;
  border: 2px dashed grey;
  padding: 30px;
  border-radius: 5px;
  cursor: default;
}

.dropzone:hover {
  background-color: #d9edf7;
}

.trackInfo {
  white-space: nowrap;

  table.trackInfoTable {
    display: inline;
    
    tr td.infoValue {
      font-weight: 500;
      padding-left: 5px;
    }
  }
}
