.wiki-icon {
  background-color: var(--bs-body-bg);
  border-radius: 9px;
  border: 1px solid var(--bs-body-color);

  & > * {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    left: 0;
    right: 0;
  }
}
