Header set Cache-Control "max-age=31536000, public"

<filesMatch "(\.html|\bsw\.js)$">
  Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</filesMatch>
