<!DOCTYPE html>
<html lang="sk">
  <head>
    <title>Freemap Slovakia - digitálna mapa Slovenska</title>

    <meta charset="UTF-8" />

    <meta
      name="copyright"
      content="OZ Freemap Slovakia, http://www.freemap.sk/"
    />
    <meta
      name="description"
      content="Freemap je voľne dostupná online mapa Slovenska s možnosťou zadarmo používať offline verziu."
    />
    <meta
      property="og:description"
      content="Freemap je voľne dostupná online mapa Slovenska s možnosťou zadarmo používať offline verziu."
    />
    <meta name="author" content="Freemap Slovakia" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta
      name="google-site-verification"
      content="sbT_FygRVxqv1MyTmcynJH3dSq2sVlUBNqaxCvlECU4"
    />
    <meta property="fb:pages" content="2532592376985525" />
    <meta
      property="article:author"
      content="https://www.facebook.com/FreemapSlovakia/"
    />

    <meta property="fb:app_id" content="171410630094006" />
    <meta
      property="og:title"
      content="Freemap Slovakia - digitálna mapa Slovenska"
    />

    <meta
      property="og:image"
      content="<%= process.env['BASE_URL'] + '/' + require('./images/logo.jpg') %>"
    />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= process.env['BASE_URL'] + '/' %>" />

    <meta http-equiv="Accept-CH" content="Width" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="application-name" content="Freemap Slovakia" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="/apple-touch-icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="/apple-touch-icon-1024x1024.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Freemap" />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/apple-touch-startup-image-640x1136.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/apple-touch-startup-image-750x1334.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/apple-touch-startup-image-828x1792.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="/apple-touch-startup-image-1125x2436.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="/apple-touch-startup-image-1242x2208.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
      href="/apple-touch-startup-image-1242x2688.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/apple-touch-startup-image-1536x2048.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/apple-touch-startup-image-1668x2224.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/apple-touch-startup-image-1668x2388.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/apple-touch-startup-image-2048x2732.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="/apple-touch-startup-image-1620x2160.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/apple-touch-startup-image-1136x640.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/apple-touch-startup-image-1334x750.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/apple-touch-startup-image-1792x828.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="/apple-touch-startup-image-2436x1125.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="/apple-touch-startup-image-2208x1242.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
      href="/apple-touch-startup-image-2688x1242.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/apple-touch-startup-image-2048x1536.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/apple-touch-startup-image-2224x1668.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/apple-touch-startup-image-2388x1668.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/apple-touch-startup-image-2732x2048.png"
    />
    <link
      rel="apple-touch-startup-image"
      media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
      href="/apple-touch-startup-image-2160x1620.png"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="msapplication-config" content="/browserconfig.xml" />

    <%= htmlWebpackPlugin.tags.headTags.filter((tag) => tag.tagName !==
    'script').join('') %>

    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>

    <script>
      window.TrackJS &&
        TrackJS.install({
          token: '47a813b67baf4f97bace2d8359f76833',
          onError: function (payload) {
            // prettier-ignore
            return (
              window.self === window.top &&
              !/^Network error$|The operation is insecure|Only secure origins are allowed|Failed to register a ServiceWorker/.test(
                payload.message
              )
            );
          },
        });
    </script>

    <!-- <script
      data-ad-client="ca-pub-2465248996193624"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script> -->

    <!-- Facebook Pixel Code -->
    <!-- prettier-ignore -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');

      fbq.disablePushState = true;

      fbq('init', '681854635902254');
      fbq('track', 'PageView');
    </script>
    <!-- prettier-ignore -->
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=681854635902254&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <style>
      #app,
      .init-loader {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    </style>

    <script>
      var langs = navigator.languages || [navigator.language];

      var lang = langs
        .map((lang) => lang.replace(/-.*/, ''))
        .find((lang) => /^(en|sk|cs|hu)$/.test(lang));
    </script>
  </head>

  <body>
    <div id="app">
      <div
        id="init-loader"
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100vh;
        "
      >
        <div style="display: flex; flex-direction: column; align-items: center">
          <div style="max-width: 200px; padding-bottom: 30px">
            <img
              src="freemap-logo.jpg"
              style="width: 100%; vertical-align: center"
            />
          </div>
          <div
            style="
              max-width: 400px;
              text-align: center;
              font-family: Arial, Helvetica, sans-serif;
              line-height: 1;
              margin-top: 0;
            "
          >
            <script>
              document.write(
                lang === 'sk'
                  ? 'Načítavam…'
                  : lang === 'cs'
                  ? 'Načítám…'
                  : 'Loading…',
              );
            </script>
          </div>
        </div>
      </div>
    </div>

    <% for (const css of htmlWebpackPlugin.files.css) { %>
    <link itemprop="" rel="stylesheet" href="<%= css %>" />
    <% } %>

    <script>
      var validate_startup = function (e) {
        if (e) {
          e.preventDefault();
        }

        var app = document.getElementById('app');

        if (
          !app.children ||
          !app.children[0] ||
          app.children[0].id === 'init-loader'
        ) {
          console.error('Startup error.', e);

          var html;

          if (lang === 'hu') {
            html =
              '  <h1>Hiba történt az alkalmazás elindításánál</h1>\n' +
              '  <p>\n' +
              '    Győződjék meg arról, hogy egy modern böngésző (Google Chrome, Firefox, Safari, Opera, Edge, Chromium, Vivaldi, Brave, …) friss verzióját használja.\n' +
              '  </p>\n';
          } else if (lang === 'sk') {
            html =
              '  <h1>Aplikáciu sa nepodarilo spustiť</h1>\n' +
              '  <p>\n' +
              '    Uistite sa, že používate aktuálnu verziu niektorého zo súčasných prehliadačov (Google Chrome, Firefox, Safari, Opera, Edge, Chromium, Vivaldi, Brave, …).\n' +
              '  <p>\n';
          } else if (lang === 'cs') {
            html =
              '  <h1>Aplikaci se nepodařilo spustit</h1>\n' +
              '  <p>\n' +
              '    Ujistěte se, že používáte aktuální verzi některého ze současných prohlížečů (Google Chrome, Firefox, Safari, Opera, Edge, Chromium, Vivaldi, Brave, …).\n' +
              '  <p>\n';
          } else {
            html =
              '  <h1>Problem starting application</h1>\n' +
              '  <p>\n' +
              '    Please make sure you are using recent version of a modern browser (Google Chrome, Firefox, Safari, Opera, Edge, Chromium, Vivaldi, Brave, …).\n' +
              '  </p>\n';
          }

          app.innerHTML =
            '<div style="margin: 20px; padding: 20px; border: 6px solid red; font-family: Arial, Helvetica, sans-serif;">\n' +
            html +
            '</div>';
        }
      };

      window.addEventListener('error', validate_startup);

      window.addEventListener('load', function () {
        console.log('Page loaded.');

        window.removeEventListener('error', validate_startup);

        validate_startup();
        delete validate_startup;
      });

      console.log('Pre-entry.');
    </script>

    <% for (const js of htmlWebpackPlugin.files.js) { %>
    <script src="<%= js %>"></script>
    <% } %>

    <script>
      console.log('Post-entry.');
    </script>

    <script async src="https://www.google-analytics.com/analytics.js"></script>

    <noscript>
      Aplikácia vyžaduje prehliadač so zapnutou podporou JavaScriptu.
      <br />
      ~~~
      <br />
      JavaScript enabled browser is required to run this application.
      <br />
      ~~~
      <br />
      Az alkalmazás futtatásához JavaScriptet támogató böngészőre van szükség.
    </noscript>
  </body>
</html>
