.image-container {
  width: 100%;
  max-height: calc(100dvh - 300px);

  @media screen and (max-height: 600px) {
    max-height: 300px;
  }
}

.license {
  background-color: #fffa;
  padding: 0 8px;
  border-top-left-radius: 4px;
  z-index: 2;
  color: #008;

  &:hover {
    color: #22c;
  }

  &.license-text {
    color: #333;
  }
}

.photo-icon {
  border-radius: 4px;
  border: 2px solid var(--bs-body-bg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  background-color: var(--bs-body-bg);
}
